{% extends 'aboutbelarus/base.html' %}

{% block content %}

    <h1 style="text-align: center">{{ title }}</h1>
    <hr>

    <div style="text-align: justify">
        <p>aboutbelarus.by - это полноценный информационный ресурс посвященный достопримечательностям, истории,
            архитектуре и
            культуре Беларуси. Сайт aboutbelarus.by можно также рассматривать как подробный туристический путеводитель
            по Беларуси. Сайт будет интересен всем туристам и путешественникам по Беларуси, а также тем, кто
            интересуется
            достопримечательностями и культурно-историческим наследием Беларуси. Сайт aboutbelarus.by в какой-то мере
            является
            также справочником по истории многих архитектурных памятников Беларуси.</p>
        <p>Итак, данный сайт может быть очень интересен и полезен как туристический гид по Беларуси, как своеобразный
            путеводитель по стране. Туристы и путешественники, интересующиеся Беларусью и ее архитектурным, культурным и
            духовным наследием, с помощью данного сайта могут узнать куда еще можно съездить и что еще увидеть на
            просторах
            этой прекрасной страны. Белорусы смогут заново открыть для себя свою родную страну, ведь наверняка
            большинство
            из Вас, дорогие читатели, не знают о существовании многих прекрасных исторических и архитектурных памятников
            и
            интереснейших достопримечательностей, которые хранит в себе Беларусь.</p>
        <p>Проект AboutBelarus создан для того чтобы собрать, систематизировать и предоставить широкий доступ к
            информации о
            достопримечательностях и культурно-историческом наследии Беларуси так, чтобы о нашей стране, ее красоте и
            богатом
            историческом, культурном и природном наследии могли узнать не только Белорусы, но и жители других стран.
            При знакомстве с сайтом читатели смогут самостоятельно составить свой собственный план туристического
            путешествия
            по Беларуси, руководствуясь личными интересами, возможностями и планами, а не следовать за стандартными
            экскурсионными маршрутами.</p>
        <p>Автор проекта в течение многих лет лично посетил несколько тысяч городов, деревень и других объектов в
            Беларуси
            (многие по несколько раз) и собрал для читателей столько интересной информации о Беларуси сколько смог.
            Не прекращая путешествовать по Беларуси и накапливать информацию, автор проекта ведет также постоянную
            работу по
            наполнению этого сайта, и будет рад предоставить всю эту информацию читателю, с надеждой, что Вам будет
            интересно
            на этом справочном портале.</p>
        <p>Сайт aboutbelarus.by будет рад сотрудничеству с квалифицированными искусствоведами, краеведами, историками и
            другими
            людьми, которые участвуют в сохранении и возрождении историко-культурного наследия Беларуси. Поэтому, если
            Вы
            заметили ошибку на сайте, или можете уточнить приведенную информацию, или хотите добавить фото, а также если
            у Вас
            есть другая, не представленная на сайте, но интересная информация о Беларуси, её достопримечательностях,
            историческом, архитектурном и культурном наследии, и Вы готовы этой информацией поделиться, а также по любым
            другим вопросам <a href="{% url 'contact' %}">"Напишите нам"</a>.</p>
    </div>

{% endblock %}